.audio {
  width: 90%;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  .icon {
    width: 80px;
    height: 80px;
  }
  .name, .singer {
    text-align: center;
  }
  .name {
    font-size: 20Px;
  }
  .singer {
    font-size: 14Px;
    color: #ccc;
  }
  .duration {
    color: #ccc;
  }
}