.inputView {
  width: 90%;
  margin: 20Px auto;
  padding: 14Px 0;
  background-color: white;
}
.submitBtn,
.gobackBtn {
    width: 80%;
    margin-top: 20px;
}


.loginLabel {
    color: gray;
    font-size: 15Px;
}

.inputText {
    float: right;
    text-align: right;
    vertical-align: middle;
    margin-right: 22px;
    font-size: 12Px;
    border-bottom: 1px solid #ccc;
}