.container {
  display: flex;
  justify-content: space-around;
  .audio {
    width: 74%;
    background: #fff;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    margin-top: 20px;
    border-radius: 6px;
    .icon {
      width: 80px;
      height: 80px;
    }
    .name, .singer {
      text-align: center;
    }
    .name {
      font-size: 16Px;
    }
    .singer {
      font-size: 12Px;
      color: #ccc;
    }
    .duration {
      font-size: 14Px;
      color: #ccc;
    }
  }
}